<ion-view title="O que você precisa?" hide-nav-bar="true">
  <div class="bar bar-header">
    <div class="title"><h4 style="color: #3D4D9A;">O que você procura?</h4></div>
    <button
      class="button button-clear button-positive"
      ui-sref="login()">
      Login
    </button>
  </div>
  <ion-content overflow-scroll="false" style="background: url(img/g4149.png) no-repeat bottom; background-size: contain;" >
      <div style="position: relative; top: 300px;">
        <div>
          <div class="botao">
            <a
              ui-sref="transportes({inv_cd_tipo_transporte: 1})"
              class="button icon-right ion-chevron-right button button-block button-outline button-positive">
                Quero Transporte Escolar &nbsp;
            </a>
          </div>
        </div>

        <div>
          <div>
            <a
              ui-sref="transportes({inv_cd_tipo_transporte: 2})"
              class="button icon-right ion-chevron-right button button-block button-outline button-positive">
              Quero Transporte Viagem
            </a>
          </div>
      </div>
  </div>
  </ion-content>
</ion-view>
