<ion-view>
  <ion-nav-buttons side="secondary">
    <button
      ui-sref="login()"
      class="button button-clear">
      Login
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">
    <div class="row row-center" style="height: 100%">
      <div class="col">
        <div class="text-center">
          <img
            width="40%"
            src="img/logo.png">
        </div>

        <div class="spacer" style="width: 100%; height: 10px;"></div>

        <a
          id="signup-button"
          ui-sref="pesquisa-veiculos"
          class="button button-positive button-block button-outline">
          Buscar veículos disponíveis
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
