<ion-view hide-nav-bar="true">
  <ion-content overflow-scroll="true">
    <div hide-nav-bar="true" class="bar bar-header">
      <div class="h1 title"></div>
      <button
        ui-sref="login()"
        class="button button-positive button-clear">
        Login
      </button>
    </div>

    <div>
      <div class="text-center">
        <img
          style="margin-top: 110px"
          width="45%"
          src="img/logo.png">
      </div>

      <button
        ui-sref="menu-fornecedor.veiculos"
        class="button icon-right ion-chevron-right button-positive button-block button-outline">
        Buscar Transporte Escolar
      </button>

      <button
        ui-sref="pagina-inicial()"
        class="button icon-right ion-chevron-right button-positive button-block button-outline">
        Buscar Transporte Viagem
      </button>

      <button
        ui-sref="pagina-inicial()"
        class="button icon-right ion-chevron-right button-positive button-block button-outline">
        Administração do Fornecedor
      </button>
    </div>
  </div>
</ion-content>
