<ion-view title="Signup">
  <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
    <form class="responsive-form" name="formsingup">
      <label class="item item-input" name="email">
        <span class="input-label">Email</span>
        <input type="email" ng-model="usuario.usu_ds_email" name="email" ng-required="required">
      </label>
      <p align="center" ng-show="(formsingup.email.$touched && formsingup.email.$invalid)">Email inválido</p>

      <label class="item item-input" >
        <span class="input-label">Senha</span>
        <input type="password" ng-model="usuario.usu_ds_senha" name="senha" ng-required="required">
      </label>
      <p align="center" ng-if="(formsingup.senha.$touched && usuario.usu_ds_senha.length < 6)">Senha deve conter mais de 5 caracteres</p>

      <label class="item item-input">
        <span class="input-label">Confirme Senha</span>
        <input type="password" ng-model="usuario.confirm_usu_ds_senha" name="confirmasenha" ng-required="required">
      </label>
      <p align="center" ng-if="(formsingup.confirmasenha.$touched && !(usuario.usu_ds_senha == usuario.confirm_usu_ds_senha))" >Senhas não batem</p>

      <button
        ng-click="signup()"
        class="button button-outline button-positive button-block"
        ng-disabled="formsingup.$invalid">
        Sign up
      </button>
    </form>
  </ion-content>
</ion-view>
