<ion-view hide-nav-bar="false" title="Meus Transportes">
  <ion-content overflow-scroll="true">
    <div class="list card">
        <div class="item item-thumbnail">
          <h2 style="float:left">NOME FANTASIA</h2>
          <h2 style="float:right">Avaliar</h2>
          <div style="clear:both"></div>
          <span style="float:right">
            <i class="ion-ios-star-outline" style="font-size:40px" ng-click="avaliar(1)"></i>
            <i class="ion-ios-star-outline" style="font-size:40px" ng-click="avaliar(2)"></i>
            <i class="ion-ios-star-outline" style="font-size:40px" ng-click="avaliar(3)"></i>
            <i class="ion-ios-star-outline" style="font-size:40px" ng-click="avaliar(4)"></i>
            <i class="ion-ios-star-outline" style="font-size:40px" ng-click="avaliar(5)"></i>
          </span>
          <p>Semanal</p>
          <p>Dinheiro</p>
        </div>
    </div>

    <div class="list card" style="box-shadow: 0 1px 3px orange;">
      <!-- <div style="width:100%;height:5px;background:orange;border-radius: 2px;margin-top:-1px"></div> -->
      <div class="item item-thumbnail">
        <h2 style="float:left">NOME FANTASIA</h2>

        <span style="float:right">
          <i class="ion-ios-timer-outline" style="font-size:40px;position:absolute;right: 90px;" ></i>
        </span>
        <div style="clear:both"></div>
        <h2 style="float:right;margin-top:20px">Aguardando confirmação</h2>
        <p>Semanal</p>
        <p>Dinheiro</p>
      </div>
    </div>

  </ion-content>
</ion-view>
