<ion-view title="Planos/Pagamentos" cache-view="false">
  <ion-content overflow-scroll="true">

    <ion-list>
      <ion-item class="item-divider">Planos</ion-item>

      <ion-list>
        <ion-checkbox ng-model="plano.checked" ng-repeat="plano in planos">{{ plano.pla_ds_plano }}</ion-checkbox>
      </ion-list>

      <ion-item class="item-divider">Pagamentos</ion-item>

      <ion-list>
        <ion-checkbox ng-model="pagamento.checked" ng-repeat="pagamento in pagamentos">{{ pagamento.pag_ds_pagamento }}</ion-checkdbox>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>
