<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="navigationView"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-positive">
      <div class="title">Menu</div>
    </ion-header-bar>

    <ion-content padding="false" class="side-menu-left has-header">
      <ion-list>
        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.home"
          menu-close>
          <i class="icon ion-home"></i>
          Pagina Inicial
        </ion-item>

        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.meu-cadastro"
          menu-close>
          <i class="icon ion-document"></i>
          Meu Cadastro
        </ion-item>

        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.plano"
          menu-close>
          <i class="icon ion-cash"></i>
          Planos/Pagamentos
        </ion-item>


        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.veiculos"
          menu-close>
          <i class="icon ion-android-car"></i>
          Veículos
        </ion-item>
        
        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.instituicao-veiculos"
          menu-close>
          <i class="icon ion-android-map"></i>
          Rotas
        </ion-item>

        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.changePass"
          menu-close>
          <i class="icon ion-lock-combination"></i>
          Alterar Senha
        </ion-item>

        <ion-item
          class="item-icon-left"
          ui-sref="menu-fornecedor.configuracoes"
          menu-close>
          <i class="icon ion-gear-a"></i>
          Configurações
        </ion-item>



        <ion-item
          class="item-icon-left"
          ng-click="logout()">
          <i class="icon ion-log-out"></i>
          Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
