<ion-view title="Alterar senha">
  <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
    <form class="responsive-form">
      <label class="item item-input" name="senha">
        <span class="input-label">Senha</span>
        <input type="password" ng-model="usuario.usu_ds_senha" required>
      </label>

      <label class="item item-input" name="novasenha">
        <span class="input-label">Nova senha</span>
        <input type="password" ng-model="usuario.usu_ds_nova_senha" required>
      </label>

      <label class="item item-input" name="confirm">
        <span class="input-label">Confirmar senha</span>
        <input type="password" ng-model="usuario.usu_ds_nova_senha_confirm" required>
      </label>

      <button
        ng-click="changePass()"
        class="button button-outline button-positive button-block">
        Trocar senha
      </button>
    </form>
  </ion-content>
</ion-view>
