<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Filtrar busca</h1>
    <div class="button button-clear" ng-click="filtrarVeiculosModal.hide()">
      <span class="icon ion-ios-close-empty"></span>
    </div>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px">
    <form class="veiculo-form">
      <ion-list type="card">
        <label class="item item-input item-select">
          <div class="input-label">
            Bairro {{pesquisar.bai_cd_bairro}}
          </div>
          <select ng-model="filtro.Rotas.bai_cd_bairro">
            <option value="">Selecione</option>
            <option ng-repeat="bairro in bairros" value="{{bairro.bai_cd_bairro}}">{{bairro.bai_ds_bairro}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Instituição
          </div>
          <select ng-model="filtro.ins_cd_instituicao">
            <option value="">Selecione</option>
            <option ng-repeat="instituicao in instituicoes" value="{{instituicao.ins_cd_instituicao}}">{{instituicao.ins_ds_instituicao}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Tipo de Transporte
          </div>
          <select ng-model="filtro.vei_cd_veiculo">
            <option value="">Selecione</option>
            <option ng-value="TIPO_TRANSPORTE.VIAGEM" >Viagem</option>
            <option ng-value="TIPO_TRANSPORTE.ESCOLAR" >Escolar</option>
            <option ng-value="TIPO_TRANSPORTE.AMBOS" ng-selected="true">Escolar e Viagem</option>
          </select>
        </label>
      </ion-list>

      <div class="item" style="border: 0; padding-top:0; margin-top:0;">
        <button class="button button-block button-outline button-positive" ng-click="filtrarVeiculosModal.hide(filtro)">Buscar</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
