<ion-view title="Transportes" hide-nav-bar="false">
  <nav
      mfb-menu
      position="br"
      active-icon="ion-android-menu"
      resting-icon="ion-android-menu"
      main-action="filtrarVeiculosModal.show()"
      >
  </nav>

  <ion-content class="has-header">
    <form class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="pesquisar.$" placeholder="Pesquisar">
        </label>
    </form>
      <ion-refresher
      pulling-text="Puxe para atualizar..."
      on-refresh="refresh()">
    </ion-refresher>

    <div class="card" ng-repeat="rota in veiculos | filter:pesquisar:strict" style="padding:10px">
        <h3 class="title">{{ rota.Instituicao.ins_ds_instituicao  }}</h3>
        <div style="float:left">
          <h4>{{ rota.Veiculo.Usuario.Fornecedor.for_ds_fantasia_nome }}</h4>
          <p ng-show="rota.Veiculo.vei_ds_der">
            Registrado <span style="color:#ccc">({{ rota.Veiculo.vei_ds_der }})</span>
          </p>
          <p ng-show="!rota.Veiculo.vei_ds_der">Sem Registro</p>
          <p>Turno: {{ rota.inv_ds_turno}}</p>
          <!-- <i class="ion ion-wifi" style="font-size:30px;margin-right:10px"></i>
          <i class="ion ion-radio-waves" style="font-size:30px;margin-right:10px"></i>
          <i class="ion ion-ios-snowy" style="font-size:40px"></i> -->
        </div>
        <span ng-show="rota.inv_cd_tipo_transporte == 1" style="float:right;margin-right: 40px;margin-top: -2px;width:65px;border-radius:50px">
          <h1 style="text-align:center;margin:0;">{{ rota.Veiculo.vei_qt_vagas}}</h1>
          <h5 style="text-align:center;margin:0;">VAGAS</h5>
        </span>
      </div>
    </div>

  </ion-content>

</ion-view>
